.fx-button{
    -fx-background-color: linear-gradient(#4CAF50, #3a863d);
    -fx-background-radius: 100;
}

.fx-button:hover{
    -fx-background-color: linear-gradient(#00C853, #006d2c);
    -fx-background-radius: 100;
}