.fx-button{
    -fx-background-color: linear-gradient(#43A047, #2f7432);
    -fx-background-radius: 100;
}

.fx-button:hover{
    -fx-background-color: linear-gradient(#00C853, #006d2c);
    -fx-background-radius: 100;
}
