.fx-button{
    -fx-background-color: linear-gradient(#F4511E, #b53c16);
    -fx-background-radius: 100;
}

.fx-button:hover{
    -fx-background-color: linear-gradient(#FF3D00, #b22700);
    -fx-background-radius: 100;
}