.fx-button{
    -fx-background-color: linear-gradient(#880E4F, #4c082a);
    -fx-background-radius: 100;
}

.fx-button:hover{
    -fx-background-color: linear-gradient(#F50057, #8e0038);
    -fx-background-radius: 100;
}